<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?q=80&w=2056&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
  <%# <div class="banner-text-and-button"> %>
    <%# <h1><strong>These are your lists</strong></h1>
      <a href="#">Join RIBA for 2024</a> %>
  <%# </div> %>
</div>
