// Specific CSS for your home-page

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 270px;
  background-size: cover;
  background-position: center;

  h1 {
    color: #c8a60d;
    font-size: 40px;
    max-width: 500px;
    letter-spacing: -0.5px;
    font-weight: 17000;
    line-height: 1.4;
  }

  a {
    color: #333F48;
    text-decoration: none;
    background-color: #ECF0F3;
    text-align: center;
    padding: 10px 50px 10px 50px;
    font-weight: 900;
    font-size: 14px;
    margin-top: 30px;
  }
}


.banner-text-and-button {
  max-height: 24em;
  align-items:center
}
